<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Welcome to FstMind.com, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to FastStream,
      your email is: <%= @user.email %>.<br>
    </p>
    <p>
      To Login to the site, Just follow this link: <%= @url %>.
    </p>
    <p>Thanks for Joining and have a Great day!</p>
  </body>
</html>