<%= link_to gravatar_for(current_user, size: 52), edit_user_registration_path %>

  <strong><%= current_user.first_name %></strong>

<!--<span>
  <%= link_to "view my profile", edit_user_registration_path %>
</span>
<span>
  <%= pluralize(current_user.posts.count, "post") %>
</span> -->